<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand font-Charter" routerLink="">
            <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
            Dev Blogg
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav" *ngIf="authService.isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/create-post">Create Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/my-posts">My Posts</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="authService.isAuthenticated()">
                    <a class="nav-link cursor-pointer" (click)='logout()'>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>