<nav class="navbar navbar-expand-lg shadow">
    <div class="container">
        <a class="navbar-brand font-Charter" routerLink="">
            <img [src]="logoUrl" width="30" height="30" class="d-inline-block align-top" alt="logo"> Dev Blogg
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav" *ngIf="authService.isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/create-post">Create Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/my-posts">My Posts</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                    <a class="nav-link" routerLink="/register">Signup</a>
                </li>
                <li class="nav-item" *ngIf="authService.isAuthenticated()">
                    <a class="nav-link cursor-pointer" (click)='logout()'>Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" (click)="changeTheme('dark')" data-toggle="tooltip" data-placement="bottom" title="Dark Theme">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.968" height="24.581" viewBox="0 0 21.968 24.581">
                            <path id="dark_theme_icon" d="M14.2,24.581a12.267,12.267,0,0,0,9.547-4.551A.576.576,0,0,0,23.2,19.1,9.628,9.628,0,0,1,16.63,1.273a.577.577,0,0,0-.18-1.067A12.291,12.291,0,1,0,14.2,24.581Z" transform="translate(-1.913)"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" (click)="changeTheme('light')" data-toggle="tooltip" data-placement="bottom" title="Light Theme">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16.628" height="24.186" viewBox="0 0 16.628 24.186">
                            <path id="light_theme_icon" d="M4.538,21.462a1.512,1.512,0,0,0,.253.836L5.6,23.512a1.511,1.511,0,0,0,1.258.675H9.772a1.511,1.511,0,0,0,1.258-.675l.807-1.214a1.511,1.511,0,0,0,.253-.836l0-1.812H4.535ZM0,8.314a8.267,8.267,0,0,0,2.058,5.469A13.575,13.575,0,0,1,4.524,18.1c0,.012,0,.025.005.037H12.1c0-.012,0-.024.005-.037a13.575,13.575,0,0,1,2.466-4.32A8.312,8.312,0,1,0,0,8.314ZM8.314,4.535A3.783,3.783,0,0,0,4.535,8.314a.756.756,0,0,1-1.512,0A5.3,5.3,0,0,1,8.314,3.023a.756.756,0,0,1,0,1.512Z" transform="translate(0 0)"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" (click)="changeTheme('reading')" data-toggle="tooltip" data-placement="bottom" title="Reading Theme">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24.507" height="24.507" viewBox="0 0 24.507 24.507"><path d="M4.451,6.9H2V24.056a2.458,2.458,0,0,0,2.451,2.451H21.606V24.056H4.451ZM24.056,2H9.352A2.458,2.458,0,0,0,6.9,4.451v14.7a2.458,2.458,0,0,0,2.451,2.451h14.7a2.458,2.458,0,0,0,2.451-2.451V4.451A2.458,2.458,0,0,0,24.056,2ZM22.831,13.028H10.577V10.577H22.831Zm-4.9,4.9H10.577V15.479H17.93Zm4.9-9.8H10.577V5.676H22.831Z" transform="translate(-2 -2)"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- add a reading theme (optional) -->