a {
    color: white;
}

.tw-ic:hover {
    color: #00acee;
}

.li-ic:hover {
    color: #0e76a8;
}

.github-ic:hover {
    color: rgb(102, 101, 101);
}

.bg-custom {
    background-color: gray;
}