<div class="container">
    <div class="alert alert-danger alert-dismissible fade show m-3" role="alert" [hidden]='bool'>
        Check your username and password. Both username and password are case sensitive.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-success alert-dismissible fade show m-3" role="alert" [hidden]='loggedin'>
        Successfully logged in 😃
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="my-5 text-center">
        <img src="../../../assets/login.svg" class="img-fluid" alt="Responsive image">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="my-5">
        <div class="form-group">
            <input type="username" class="form-control" placeholder="Enter username" id="username" formControlName='username' autofocus>
            <small *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched" id="username-help" class="form-text text-danger">Username must be atleast 6 charaters long</small>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter password" id="pwd" formControlName='password'>
            <small *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" id="pwd-help" class="form-text text-danger">Password must contain: one upercase, one lowercase letter and between 6 to 20 characters.</small>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="text-center" class="btn btn-primary">Login</button>
            </div>
            <div class="col-sm-6">
                <p>Do not have an account? <a class="badge badge-info" routerLink="/register">Signup</a></p>
            </div>
        </div>
    </form>
</div>