<div class="container my-5">
    <div class="my-5" *ngFor='let post of posts$'>
        <div class="card shadow">
            <div class="card-body">
                <div class="mx-md-5">
                    <h2 class="font-Charter card-title text-center">{{ post.title }}</h2>
                    <div class="text-right">
                        <small>Created On: {{ post.createdOn | date }}</small>
                    </div>
                </div>
                <hr>
                <div class="card-text m-md-5" innerHTML="{{ post.content.length > 500 ? (post.content | slice: 0:500) + ' ...' : post.content }}"></div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <a routerLink='/posts/{{post.id}}'>Read more ...</a>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <button class="btn btn-danger mr-2" (click)="deletePost(post.id)">
                            <fa-icon [icon]='faTrash'></fa-icon>
                        </button>
                        <button class="btn btn-info" (click)="editPost(post.id)">
                           Edit Post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='posts$.length === 0'>
        <div class="row my-5">
            <img src="../../assets/blog_post.svg" class="img-fluid col-md-6" alt="Responsive image">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div>
                    <h2 class="font-Charter mt-3 text-center">You have not written any post</h2>
                    <p>How about writing one today ? 😃</p>
                    <a class="btn btn-success text-center" routerLink="/create-post">Create Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-page-top></app-page-top>