<div class="container">
    <div class="my-5" *ngFor='let post of posts$'>
        <div class="card shadow">
            <div class="card-body">
                <div class="mx-md-5">
                    <h2 class="font-Charter card-title text-center">{{ post.title }}</h2>
                    <div class="m-2 text-md-right">
                        <span class="badge badge-info">{{ post.tag }}</span>
                    </div>
                    <div class="row mb-2">
                        <h6 class="col-md-6 card-subtitle text-md-left my-1">Written By: {{ post.username }}</h6>
                        <small class="col-md-6 card-subtitle text-md-right my-1">Posted: {{ post.createdOn | date }}</small>
                    </div>
                </div>
                <hr>
                <div class="card-text m-md-5" innerHTML="{{ post.content.length > 500 ? (post.content | slice: 0:500) + ' ...' : post.content }}"></div>
                <div class="text-center">
                    <a routerLink="/posts/{{post.id}}">Read more ...</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='posts$.length === 0'>
        <div class="row my-5">
            <img src="../../assets/blog_post.svg" class="img-fluid col-md-6" alt="Responsive image">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <h2 class="font-Charter mt-3 text-center">Be the first one to write a post ...</h2>
            </div>
        </div>
    </div>
</div>
<app-page-top></app-page-top>